.header-container {
    background-color: #f7f7f7; /* Couleur de fond du header */
    padding: 20px; /* Espacement autour du header */
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333; /* Couleur du texte des liens */
    margin-right: 20px; /* Espacement entre les liens */
  }
  
  .styled-link {
    font-weight: bold; /* Style personnalisé pour le lien Aller au Pokédex */
    color: #007bff; /* Couleur du lien Aller au Pokédex */
  }
  