.pokemon-list-container {
    display: flex; /* Affichage des cartes de Pokémon en ligne */
    flex-wrap: wrap; /* Enroulement des éléments s'ils dépassent la largeur du conteneur */
    justify-content: center; /* Centrer les cartes horizontalement */
    gap: 20px; /* Espacement entre les cartes de Pokémon */
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrer le conteneur horizontalement */
  }
  
  .pokemon-card {
    border: 1px solid #ccc; /* Bordure autour de chaque carte de Pokémon */
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Réduire l'espacement à l'intérieur de la carte */
    width: calc(20% - 20px); /* Largeur de chaque carte, en fonction de la largeur de l'écran */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
  }
  
  .pokemon-image {
    width: 100%; /* Largeur maximale pour l'image */
    border-radius: 8px; /* Coins arrondis pour l'image */
  }
  
  .pokemon-details {
    margin-top: 10px; /* Espacement supplémentaire au-dessus des détails */
  }
  
  /* Dans ListePokemon.css */

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacement supplémentaire au-dessus des boutons */
  }
  
  .button {
    background-color: #4CAF50; /* Couleur de fond des boutons */
    border: none;
    color: white; /* Couleur du texte des boutons */
    padding: 10px 20px; /* Espacement à l'intérieur des boutons */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Coins arrondis */
  }
  h1{
    text-align: center;
  }

  .search-container {
    margin-bottom: 20px; /* Espacement en bas de la barre de recherche */
    text-align: center;
  }
  
  .search-input {
    width: 50%; /* Largeur de la barre de recherche */
    padding: 10px; /* Espacement à l'intérieur de la barre de recherche */
    font-size: 16px; /* Taille de la police de caractères */
    border: 1px solid #ccc; /* Bordure de la barre de recherche */
    border-radius: 8px; /* Coins arrondis */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
  }
  
  .search-input:focus {
    outline: none; /* Supprimer la bordure de mise au point */
    border-color: #007bff; /* Couleur de la bordure lorsqu'elle est mise au point */
  }
  