.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: calc(20% - 20px);
  box-sizing: border-box;
}

.pokemon-image {
  width: 100%;
  border-radius: 8px;
}

.pokemon-details {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

h1{
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.pokedex-container {
  text-align: center;
}

.action-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button-container {
  margin-top: 20px;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* CSS */
.modal {
  display: ${selectedPokemon ? 'block' : 'none'}; /* Afficher uniquement lorsque selectedPokemon est défini */
  position: fixed; /* Positionnement absolu par rapport à la fenêtre du navigateur */
  top: 50%; /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Centrer parfaitement */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 999; /* Assurez-vous que le modal est au-dessus de tout le reste */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff; /* Couleur du texte */
  background-color: #333; /* Couleur de fond */
  width: 30px; /* Largeur du bouton */
  height: 30px; /* Hauteur du bouton */
  border-radius: 50%; /* Bordure arrondie pour créer un bouton circulaire */
  display: flex; /* Pour centrer le contenu verticalement */
  justify-content: center; /* Pour centrer le contenu horizontalement */
  align-items: center; /* Pour centrer le contenu verticalement */
}

.close:hover {
  background-color: #555; /* Couleur de fond au survol */
}


.modal-content {
  background-color: white;
  padding: 40px; /* Augmentez la valeur de padding pour augmenter la taille de la modal */
  border-radius: 10px; /* Augmentez la valeur de border-radius pour arrondir les coins */
  width: 150%; /* Définissez la largeur de la modal */
  max-width: 600px; /* Définissez une largeur maximale pour la modal */
  margin: 0 auto; /* Centrez la modal horizontalement */
}

